@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

input {
  border: none;
  outline: none;
  border-radius: none;
}

.card {
  @apply w-1/2 md:w-1/5 px-4 py-3;
}

/* Home Start */
.navbar-fixed {
  @apply fixed z-[9999] bg-white/70 backdrop-blur-sm;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45 translate-y-1;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45 -translate-y-1;
}

/* Navbar */
.nav-link {
  @apply flex text-secondary text-sm font-semibold px-3 py-2 mx-2 border-b-2 border-transparent hover:border-secondary transition duration-300 ease-in-out;
}

.nav-link.active,
.nav-link-user.active {
  @apply flex text-secondary text-sm font-semibold px-3 py-2 border-b-2 border-secondary hover:opacity-80;
}

.nav-link-user {
  @apply flex text-sm font-semibold py-2 px-3 my-4 bg-secondary border-2 border-secondary text-primary mx-2 rounded-md hover:bg-transparent hover:text-secondary transition duration-300 ease-in-out;
}

/* Divider */
.divider {
  @apply h-[2px] rounded-full w-11/12 lg:w-1/2 bg-accent;
}

/* Footer */
.link-footer {
  @apply text-sm hover:text-primary/70 transition duration-300 ease-in-out;
}

.icon-footer {
  @apply text-xl hover:text-primary/70 transition duration-300 ease-in-out;
}

.footer-title {
  @apply uppercase text-sm mb-1 font-semibold text-primary/60;
}

.footer-tautan {
  @apply text-sm hover:text-primary/70 transition duration-300 ease-in-out;
}

/* Home End */

/* Mitra Start */
.form-control-mitra {
  @apply flex w-full border-2 rounded-md text-xs lg:text-sm bg-secondary py-2 px-4 focus:caret-primary/70 text-primary/70 placeholder:text-primary/50 focus:bg-accent transition duration-300 ease-in-out;
}

.card-mitra {
  @apply flex flex-col bg-primary shadow-md rounded-md px-4 py-2 text-secondary text-center;
}

.nama-mitra {
  @apply font-semibold text-secondary text-lg;
}

.daerah-mitra {
  @apply text-sm text-accent mb-1.5 lg:text-base;
}

.icon-mitra {
  @apply text-sm hover:text-accent transition duration-300 ease-in-out lg:text-base;
}

.link-pagination {
  @apply text-base lg:text-base text-secondary flex items-center hover:text-accent transition duration-300 ease-in-out;
}

.link-pagination.active {
  @apply text-base text-accent flex items-center;
}

.link-pagination ion-icon {
  @apply text-base lg:text-lg;
}

/* Mitra End */

/* Katalog Start */
.form-control {
  @apply flex w-full lg:w-1/4 border-2 rounded-md text-xs lg:text-sm bg-secondary py-2 px-4 focus:caret-primary/70 text-primary/70 placeholder:text-primary/50 focus:bg-accent transition duration-300 ease-in-out;
}

.card-product {
  @apply bg-primary shadow-md rounded-lg overflow-hidden;
}

.title-product {
  @apply font-semibold uppercase text-secondary text-sm lg:text-base;
}

.star {
  @apply flex items-center text-accent text-sm gap-1 mb-1;
}

.price {
  @apply flex text-secondary text-sm lg:text-base;
}

.link-information {
  @apply flex items-center bg-accent text-primary border-2 border-accent p-1 rounded-full text-sm hover:bg-primary hover:text-accent hover:border-accent transition duration-300 ease-in-out;
}

/* Katalog End */

/* Desktop Start */
.nav-link-desktop {
  @apply text-secondary font-semibold px-4 py-2 hover:text-accent transition duration-300 ease-in-out;
}
/* Desktop End */
